<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="19.0" />
  <package id="autohotkey.portable" version="1.1.30.01" />
  <package id="ccleaner" version="5.54.7088" />
  <package id="chocolatey" version="0.10.11" />
  <package id="chocolatey-core.extension" version="1.3.3" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="filezilla" version="3.40.0" />
  <package id="Firefox" version="65.0.2" />
  <package id="flashplayerplugin" version="32.0.0.142" />
  <package id="git.install" version="2.21.0" />
  <package id="github" version="3.2.0.20181119" />
  <package id="github-desktop" version="1.6.2" />
  <package id="GoogleChrome" version="72.0.3626.121" />
  <package id="googledrive" version="2.34.5075.1619" />
  <package id="hidemaru-editor" version="8.87" />
  <package id="hyper" version="2.1.2" />
  <package id="intellijidea-ultimate" version="2018.3.5" />
  <package id="irfanview" version="4.52" />
  <package id="iTunes" version="12.9.3.3" />
  <package id="jre8" version="8.0.201" />
  <package id="monosnap" version="3.6.36" />
  <package id="notepadplusplus.install" version="7.6.3" />
  <package id="slack" version="3.3.7" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="virtualbox" version="6.0.4" />
  <package id="vlc" version="3.0.6" />
  <package id="vscode" version="1.31.1" />
</packages>